@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --gold: #A66417;
    --bluelack: #192a56;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Nunito', sans-serif;
}

/* navbar section start */
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

section:nth-child(even) {
    background: #eee;
}

.sub-heading {
    text-align: center;
    color: var(--gold);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover {
    background: var(--gold);
    letter-spacing: .1rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i {
    color: var(--gold);
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover {
    color: #fff;
    background: var(--gold);
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover {
    color: #fff;
    background: var(--gold);
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none;
}

#search-form {
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active {
    top: 0;
}

#search-form #search-box {
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder {
    color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#search-form label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover {
    color: var(--gold);
}

#search-form #close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
}

.home .home-slider .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}

.home .home-slider .slide .content {
    flex: 1 1 45rem;
}

.home .home-slider .slide .image {
    flex: 1 1 45rem;
}

.home .home-slider .slide .image img {
    width: 100%;
}

.home .home-slider .slide .content span {
    color: var(--gold);
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3 {
    color: var(--black);
    font-size: 7rem;
}

.home .home-slider .slide .content p {
    color: var(--light-color);
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active {
    background: var(--gold);
}

/* navbar section end */

/* css registrasi start */
/* mengatur warna backgroud form */
/* form {
    background-color: rgba(0, 0, 0, .7);
    box-shadow: --box-shadow;
} */

/* mengatur border dan padding class form-container */
.container {
    background-color: rgba(0, 0, 0, .7);
    box-shadow: --box-shadw;
    border-radius: 10px;
    padding: 30px;
    font-size: 18px;
    color: #fafafa;
    margin-top: 50px;
}
.form-group label{
    font-size: 18px;
    color: white;
}

.form-group input {
    font-size: 12px;
}

.btn:hover {
    background: var(--gold);
    letter-spacing: .1rem;
}

.btn {
    display: inline-block;
    width: 48%;
    text-align: center;
}

/* css registrasi end */

/* css faq start */
.sub-heading {
    text-align: center;
    color: var(--gold);
    font-size: 30px;
    padding-top: 80px;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 20px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.faq form {
    max-width: 90rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    border: 2px solid rgba(0, 0, 0, .2);
    background: #fff;
    padding: 20px;
    margin: 0 auto;
}

.faq form .inputBox .input {
    width: 100%;
}

.faq form .inputBox .input label {
    display: block;
    padding: 10px 0;
    font-size: 20px;
}

.faq form .inputBox .input select {
    background: #eee;
    border-radius: 5px;
    padding: 12px;
    font-size: 15px;
    text-transform: none;
    margin-bottom: 10px;
    width: 100%;
}

.faq form .inputBox .input textarea {
    background: #eee;
    border-radius: 5px;
    padding: 12px;
    font-size: 15px;
    color: var(--black);
    text-transform: none;
    margin-bottom: 10px;
    width: 100%;
}

.faq form .inputBox .input select:focus,
.faq form .inputBox .input textarea:focus {
    border: 2px solid var(--blue);
}

.faq form .inputBox .input textarea {
    height: 50px;
}

.faq form button {
    margin-top: 12px;
    display: inline-block;
    width: 10%;
    text-align: center;
}

.faq form button:hover {
    background: var(--gold);
    letter-spacing: .1rem;
}

/* css faq end */

/* css review start */
.review .slide {
    padding: 30px;
    box-shadow: var(--box-shadow);
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
}

.review .sub-heading {
    text-align: center;
    color: var(--gold);
    font-size: 30px;
    padding-top: 5px;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}

.review .slide .fa-quote-right {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 6rem;
    color: #ccc;
}

.review .slide .user {
    display: flex;
    gap: 12px;
    /* mengatur jarak atau celah antara elemen */
    align-items: center;
    padding-bottom: 12px;
}

.review .slide .user img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3 {
    color: var(--black);
    font-size: 20px;
    padding-bottom: 12px;
}

.review .slide .user i {
    font-size: 1.3rem;
    color: var(--gold);
}

.review .slide p {
    font-size: 15px;
    line-height: 1.8;
    color: var(--light-color);
}

.review .review-slider {
    border-radius: 10px;
    background: rgb(235, 229, 229);
    padding: 5%;
}

/* css review end */

/* css footer start */
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    gap: 0.5rem;
    text-align: center;
    padding-top: 20px;
}

.footer .box-container .box h3 {
    padding: px 0;
    font-size: 20px;
    color: var(--gold);
}

.footer .box-container .box a {
    display: block;
    padding: 3px 0;
    font-size: 12px;
    color: var(--light-color);
    text-align: left;
    padding-left: 38%;
}

.footer .box-container .box a:hover {
    color: var(--gold);
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, .1);
    font-size: 15px;
    color: var(--black);
    padding: 12px;
    padding-top: 10px;
    margin-top: 10px;
}

.social-media-icon {
    size: 12px;
}

/* css footer end */

/* css detail start */
.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, .1);
}

.detail h3 {
    text-align: center;
    color: var(--gold);
    font-size: 40px;
    padding: 10px;
}

.detail .container {
    max-width: 95rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    border: 2px solid rgba(0, 0, 0, .2);
    background: #fff;
    padding: 20px;
    margin: 100px auto;
    margin-bottom: 50px;
}

.detail .image {
    /* height: 50vh; */
    background: url('https://pondokescendol.com/wp-content/uploads/2023/02/gudeg.png');
    background-size: cover;
    width: 500px;
    height: 300px;
    margin: 20px 34%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin: center;
    background-position: center;
    background-repeat: no-repeat; */
}

.detail .deskripsi {
    padding-top: 15px;
    text-align: justify;
}

.map iframe {
    max-width: 100%;
    height: auto;
}

.detail button {
    text-align: center;
    margin-top: 20px;
}

.detail .edit-button,
.detail .close-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 10px;
    width: auto;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.detail .edit-button:hover,
.detail .close-button:hover {
    background: var(--gold);
    letter-spacing: .1rem;
}

/* css detail end */

/* css edit start */
.edit form {
    max-width: 90rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    border: 2px solid rgba(0, 0, 0, .2);
    background: #fff;
    padding: 20px;
    padding-bottom: 70px;
    margin: 50px auto;
}

.edit form .inputBox .input {
    width: 100%;
}

.edit form .inputBox .input label {
    display: block;
    /* padding: 10px 0; */
    font-size: 18px;
}

.edit form .inputBox .input textarea,
.edit form .inputBox .input .input {
    background: #eee;
    border-radius: 5px;
    padding: 12px;
    font-size: 15px;
    color: var(--black);
    text-transform: none;
    margin-bottom: 10px;
    width: 100%;
}

.edit form .inputBox .input input:focus,
.edit form .inputBox .input textarea:focus {
    border: 2px solid var(--blue);
}

.edit form .inputBox .input textarea {
    height: 80px;
}

form .save-button,
form .close-button {
    display: inline-block;
    padding: 10px 20px;
    margin: auto 10px;
    width: auto;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

form .save-button:hover,
form .close-button:hover {
    background: var(--gold);
    letter-spacing: .1rem;
}

/* css edit end */